body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.convertSection {
  background-color: #6944ff;
  height: 300px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputSec {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputText {
  width: 90px;
  height: 80px;
  background-color: #6944ff;
  border-radius: 5px;
  border: 1px solid wheat;
  margin-bottom: 20px;
  color: white;
  text-align: center;
  font-size: 50px;
}
h1 {
  color: wheat;
  font-weight: bolder;
}

#convertButton {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  border: none;
  color: #5a5757;
  background-color: white;
}
.measurementContent{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F5F5F5;
    margin-top: 20px;
}

.card1,.card2, .card3{
    background-color: #F5F5F5;
}

p{
    text-align: center;
    color:#6e4cf5;
}

h3{
    color:#6e4cf5;
}