body {
  margin: 0;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e2938;
  height: 100vh;
  width: 100%;
}
.generateContent {
  display: flex;
  flex-direction: column;
  margin-top: 100px;
}
.generateText {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

.randomPasswordText {
  color: #4cdf86;
  display: block;
  font-size: 30px;
  font-weight: bold;
}
h5 {
  color: #8b9298;
  font-weight: bold;
  font-size:18px;
}

.generateBtn {
  background-color: #10b882;
  font-size: 14px;
  padding: 8px;
  color: white;
  border: none;
  border-radius: 2px;
  width: 180px;
}

.passwords {
  display: flex;
  color: wheat;
  margin-top: 50px;
  border:2px;
}

.passwordBtn1{
    background-color: #283549;
    border: none;
    color:#10b882;
    width:180px;
    margin-right: 20px;
    padding: 10px;
}
.passwordBtn2{
    background-color: #283549;
    border: none;
    color:#10b882;
    width:180px;
    margin-right: 20px;
    padding: 10px;
}