body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background-color: #19244D;
    color:white;
    min-height:200px; 
}
.new-game{
    display: flex;
    background-color: #19244D;
    color:white;
    min-height:50px; 
    margin-top: 5px;
    justify-content: center;
}
.newButton{
    width: 1000px;
    height: 40px;
    margin: 10px;
    background-color: #19244D;
    color:white;
    border-color: white;
    border-radius: 5px;
}
#time-counter1{
    width:60px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-bottom: 20px;
    color:whigte;
    font-size: 40px;
    margin-top: 20px;
    margin-right: 2px;


}
#time-counter2{
    width:60px;
    height:50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-bottom: 20px;
    color:whigte;
    font-size: 40px;
    margin-top: 20px;
    flex-direction: column;


}
.time-content{
    display: flex;
    justify-content: space-around;;
}

#home-counter{
    width:110px;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-bottom: 20px;
    color:#F94F6D;
    font-size: 50px;
    font-weight: bolder;
}

#home-1, #home-2, #home-3{
    background-color: #19244D;
    color:white;
    border-color: white;
    border-radius: 5px;
    margin-right: 2px;
    
}

#guest-counter{
    width:110px;
    height:80px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    margin-bottom: 20px;
    color:#F94F6D;
    font-size: 50px;
    font-weight: bolder;
}

#guest-1, #guest-2, #guest-3{
    background-color: #19244D;
    color:white;
    border-color: white;
    border-radius: 5px;
    margin-right: 2px;
    
}

h3{
    font-weight: 500px;
    letter-spacing: 5px;
}